@model IEnumerable<ExpenseListViewModel>

@if (Model.Count() > 0)
{
    <table>
        <tr>
            <th style="width:300px">
                Omschrijving
            </th>
            <th style="width:100px">
                Bedrag
            </th>
            <th style="width:200px">
                Datum
            </th>
            <th style="width:200px">
                Categorie
            </th>
        </tr>

        @foreach (var expense in SortList(Model))
        {
            <tr>
                <td>
                    @expense.Omschrijving
                </td>
                <td>
                    € @expense.Bedrag
                </td>
                <td>
                    @expense.Datum
                </td>
                <td>
                    @expense.Categorie
                </td>
                <td>
                    <form asp-controller="Expense" asp-action="Delete" asp-route-id="@expense.Id"><button class="btn btn-primary" type="submit" style="background-color:red">Verwijder</button></form>
                </td>
                <td>
                    <form asp-controller="Expense" asp-action="Edit" asp-route-id="@expense.Id" method="get"><button class="btn btn-primary" style="background-color:green">Pas Aan</button></form>
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>
        Er zijn nog geen uitgaven toegevoegd!
    </p>
}

@functions{
    public IEnumerable<ExpenseWeb.Models.ExpenseListViewModel> SortList(IEnumerable<ExpenseWeb.Models.ExpenseListViewModel> list)
    {
        IEnumerable<ExpenseWeb.Models.ExpenseListViewModel> SortedList = list.OrderByDescending(e => e.Datum).ToList();
        return SortedList;
    }
}
